:host {
  --sidebar-width: 250px;
  display: block;
  height: 100%;
}

:host > section {
  display: grid;
  grid-template-columns: var(--sidebar-width) minmax(0, 1fr);
  height: 100%;
}

:host > section > section {
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  min-width: 0;
  min-height: 0;
  height: 100%;
}

:host > section > section > header {
  grid-row: 1;
}

:host > section > section > div {
  grid-row: 2;
  min-height: 0;
  overflow-y: auto;
}

:host > section > section > div > article {
  display: flex;
}

:host > section > section > div > article > div {
  display: flex;
  max-width: 80%;
}

:host > section > section > div > article[data-role="USER"] {
  justify-content: flex-end;
}

:host > section > section > div > article[data-role="USER"] > div {
  flex-direction: row-reverse;
}

:host > section > section > footer {
  grid-row: 3;
}

:host > section > section[data-state="empty"] > div {
  display: none;
}

:host > section > section[data-state="empty"] > footer {
  grid-row: 2;
  align-self: center;
}
