<div hlmDialogHeader class="flex items-center">
  <ng-icon
    aria-hidden="true"
    [name]="
      data.variant === 'default' ? 'lucideCircleAlert' : 'lucideTriangleAlert'
    "
  />
  <h2 hlmDialogTitle>{{ data.title }}</h2>
  <p hlmDialogDescription>{{ data.message }}</p>
</div>

<div hlmDialogFooter class="flex justify-end">
  <button hlmBtn variant="ghost" type="button" (click)="cancel()">
    {{ data.cancelText }}
  </button>
  <button hlmBtn type="button" (click)="confirm()">
    {{ data.confirmText }}
  </button>
</div>
