<button
  type="button"
  class="flex items-center"
  [hlmDropdownMenuTrigger]="userMenu"
  (hlmDropdownMenuOpened)="menuOpen.set(true)"
  (hlmDropdownMenuClosed)="menuOpen.set(false)"
  [attr.aria-label]="'header.userMenu' | translate"
>
  @if (user().avatarUrl; as avatarUrl) {
    <img [src]="avatarUrl" alt="" />
  } @else {
    <span aria-hidden="true">{{ initials() }}</span>
  }
  <span>{{ displayName() }}</span>
  <ng-icon
    [name]="menuOpen() ? 'lucideChevronUp' : 'lucideChevronDown'"
    aria-hidden="true"
  />
</button>

<ng-template #userMenu>
  <hlm-dropdown-menu aria-label="User menu">
    <hlm-dropdown-menu-group>
      <div class="flex items-center">
        @if (user().avatarUrl; as avatarUrl) {
          <img [src]="avatarUrl" alt="" />
        } @else {
          <span aria-hidden="true">
            {{ initials() }}
          </span>
        }
        <div>
          <strong>{{ displayName() }}</strong>
          <small>{{ user().email }}</small>
        </div>
      </div>
      <a hlmDropdownMenuItem routerLink="/settings">
        <span><ng-icon name="lucideSettings" /></span>
        <span>{{ "userMenu.changeSettings" | translate }}</span>
      </a>
      <button
        hlmDropdownMenuItem
        type="button"
        (click)="logoutRequested.emit()"
      >
        <span><ng-icon name="lucideLogOut" /></span>
        <span>{{ "userMenu.logout" | translate }}</span>
      </button>
    </hlm-dropdown-menu-group>
  </hlm-dropdown-menu>
</ng-template>
